# Azure Data Engineering Project

###  Welcome to the Azure Data Engineering Project on Databricks Notebook! This notebook is designed to process error files stored in Azure Data Lake Storage, leveraging Azure Data Factory and Databricks for efficient data cleaning and analysis.

### Importing Libraries

In [93]:
import pandas as pd
import numpy as np  
# Import SparkSession
from pyspark.sql import SparkSession

In [94]:
#Creating SparkSession

spark = SparkSession.builder.appName("AzureDataEngineering").getOrCreate()

### Reading file

In [95]:
file1 = spark.read.format("csv").options(header = True, inferSchema = True).load("C:/Users/ayaan/Downloads/NetherlandErrorFile_EI - Netherland.csv")
file2 = spark.read.format("csv").options(header = True, inferSchema = True).load("C:/Users/ayaan/Downloads/NetherlandErrorFile_ER - Netherland.csv")

### Displaying file

In [96]:
print(file1.show(10))
print(file2.show(10))

+----+----+--------+--------------------+
|Type| _c1|FileCode|          ErrorEmail|
+----+----+--------+--------------------+
|  EI|NULL|  100056| rbowfin0@time.com,,|
|  EI|NULL|  152615|ddarlasson1@intel...|
|  EI|NULL|  205174|;;osomerset2@quan...|
|  EI|NULL|  257733|lfosdick3@taobao.com|
|  EI|NULL|  310292|bborrett4@amazon.de;|
|  EI|NULL|  362851| hdavies5@elpais.com|
|  EI|NULL|  415410|ccottell6@europa....|
|  EI|NULL|  467969|emeeson7@paginegi...|
|  EI|NULL|  520528|vbathowe8@whiteho...|
|  EI|NULL|  573087|dharmstone9@blogs...|
+----+----+--------+--------------------+
only showing top 10 rows

None
+----+----+--------+----+--------------------+
|Type| _c1|FileCode| _c3|          ErrorEmail|
+----+----+--------+----+--------------------+
|  ER|NULL|  100056|NULL| rbowfin0@time.com,,|
|  ER|NULL|  152615|NULL|ddarlasson1@intel...|
|  ER|NULL|  205174|NULL|;;osomerset2@quan...|
|  ER|NULL|  257733|NULL|lfosdick3@taobao.com|
|  ER|NULL|  310292|NULL|bborrett4@amazon.de;|
|  ER|NULL|  362851|NULL| hdavies5@elpais.com|
|  ER|NULL|  415410|NULL|ccottell6@europa....|
|  ER|NULL|  467969|NULL|emeeson7@paginegi...|
|  ER|NULL|  520528|NULL|vbathowe8@whiteho...|
|  ER|NULL|  573087|NULL|dharmstone9@blogs...|
+----+----+--------+----+--------------------+
only showing top 10 rows

None

### Dropping Unneccessary Column

In [97]:
file1 = file1.drop("_c1")
file2 = file2.drop("_c1", "_c3")

In [98]:
print(file1.show(10))
print(file2.show(10))

+----+--------+--------------------+
|Type|FileCode|          ErrorEmail|
+----+--------+--------------------+
|  EI|  100056| rbowfin0@time.com,,|
|  EI|  152615|ddarlasson1@intel...|
|  EI|  205174|;;osomerset2@quan...|
|  EI|  257733|lfosdick3@taobao.com|
|  EI|  310292|bborrett4@amazon.de;|
|  EI|  362851| hdavies5@elpais.com|
|  EI|  415410|ccottell6@europa....|
|  EI|  467969|emeeson7@paginegi...|
|  EI|  520528|vbathowe8@whiteho...|
|  EI|  573087|dharmstone9@blogs...|
+----+--------+--------------------+
only showing top 10 rows

None

+----+--------+--------------------+
|Type|FileCode|          ErrorEmail|
+----+--------+--------------------+
|  ER|  100056| rbowfin0@time.com,,|
|  ER|  152615|ddarlasson1@intel...|
|  ER|  205174|;;osomerset2@quan...|
|  ER|  257733|lfosdick3@taobao.com|
|  ER|  310292|bborrett4@amazon.de;|
|  ER|  362851| hdavies5@elpais.com|
|  ER|  415410|ccottell6@europa....|
|  ER|  467969|emeeson7@paginegi...|
|  ER|  520528|vbathowe8@whiteho...|
|  ER|  573087|dharmstone9@blogs...|
+----+--------+--------------------+
only showing top 10 rows

None

### Arranging Columns for Processing

In [99]:
file1 = file1.select("FileCode", "Type", "ErrorEmail")
file2 = file2.select("FileCode", "Type", "ErrorEmail")

In [100]:
print(file1.show(10))
print(file2.show(10))

+--------+----+--------------------+
|FileCode|Type|          ErrorEmail|
+--------+----+--------------------+
|  100056|  EI| rbowfin0@time.com,,|
|  152615|  EI|ddarlasson1@intel...|
|  205174|  EI|;;osomerset2@quan...|
|  257733|  EI|lfosdick3@taobao.com|
|  310292|  EI|bborrett4@amazon.de;|
|  362851|  EI| hdavies5@elpais.com|
|  415410|  EI|ccottell6@europa....|
|  467969|  EI|emeeson7@paginegi...|
|  520528|  EI|vbathowe8@whiteho...|
|  573087|  EI|dharmstone9@blogs...|
+--------+----+--------------------+
only showing top 10 rows

None

+--------+----+--------------------+
|FileCode|Type|          ErrorEmail|
+--------+----+--------------------+
|  100056|  ER| rbowfin0@time.com,,|
|  152615|  ER|ddarlasson1@intel...|
|  205174|  ER|;;osomerset2@quan...|
|  257733|  ER|lfosdick3@taobao.com|
|  310292|  ER|bborrett4@amazon.de;|
|  362851|  ER| hdavies5@elpais.com|
|  415410|  ER|ccottell6@europa....|
|  467969|  ER|emeeson7@paginegi...|
|  520528|  ER|vbathowe8@whiteho...|
|  573087|  ER|dharmstone9@blogs...|
+--------+----+--------------------+
only showing top 10 rows

None

### Appending both files

In [101]:
spark_df = file1.unionAll(file2)  ##Appended both files

In [102]:
spark_df.select("FileCode").count() #Total No. of rows

100

## **Transformation**

### Converting to pandas dataframe for transformation

In [103]:
df = spark_df.toPandas()

### Checking Type

In [104]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [105]:
df.columns

Index(['FileCode', 'Type', 'ErrorEmail'], dtype='object')

In [106]:
df

    FileCode Type                    ErrorEmail
0     100056   EI           rbowfin0@time.com,,
1     152615   EI         ddarlasson1@intel.com
2     205174   EI    ;;osomerset2@quantcast.com
3     257733   EI          lfosdick3@taobao.com
4     310292   EI          bborrett4@amazon.de;
..       ...  ...                           ...
95   2465211   ER  rrosenblum19@technorati.com@
96   2517770   ER              swey1a@google.ca
97   2570329   ER          bmeuse1b@usda.gov'''
98   2622888   ER           nokelly1c@ameblo.jp
99   2675447   ER           tgammons1d@about.me

[100 rows x 3 columns]

### Checking Stats

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FileCode    100 non-null    int32
 1   Type        100 non-null    object
 2   ErrorEmail  100 non-null    object
dtypes: int32(1), object(2)
memory usage: 2.1+ KB

### Sorting Dataframe

In [108]:
df = df.sort_values(by = ["FileCode", "Type"],  ascending=[True, True])

In [109]:
df.head()

    FileCode Type                  ErrorEmail
0     100056   EI         rbowfin0@time.com,,
50    100056   ER         rbowfin0@time.com,,
1     152615   EI       ddarlasson1@intel.com
51    152615   ER       ddarlasson1@intel.com
2     205174   EI  ;;osomerset2@quantcast.com

### Unique Counts

In [112]:
unique_counts = df["FileCode"].nunique()
print(f"No of unique counts arrived {unique_counts}")

No of unique counts arrived 50